<div class="container text-white" id="home-container">
  <div class="jumbotron container my-5 mx-5">
    <h1 id="alpha-blog">Alpha blog</h1>
    <%= link_to "Sing Up",new_user_path, class: "btn btn-success btn-lg"  %>
  </div>
</div>


 <footer>Hey, I'm the fixed footer :)</footer>